<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<p>All users</p>
<a th:href="@{/users/add}">Add new user</a>
<table>
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">age</th>
        <th scope="col">email</th>
        <th scope="col">edit</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.age}"/>
        <td th:text="${user.email}"/>
        <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></td>
        <td><form th:method="DELETE" th:action="@{users/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"/></form></td>
    </tr>
    </tbody>
</table>
</body>
</html>